<!DOCTY=PE html>
<html>
<head>
	<title>internal css ex</title>
	<style>
		h1{
			color:green;
			background-color: #1C2833;

		}
	</style>
</head>
	<body><center>
		<h1 style="font-size:50px ">internal css ex</h1>
	</center>
<h2>From Html page</h2>

<h3 style="background-color: #3346FF;font-size: 30px;margin-right: 25px;margin-left: 25px;margin-top: 5px;font-style:italic;padding: 5px; border: solid;border-color:#FFC300; ">
		<center>
		web development with python using django
	</center>
</h3>
</body>
</html>