{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  	<script type="{% static 'jquery/jquery.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body background="{% static 'images/back3.png' %}" style="background-size: cover;background-position: center;background-repeat: no-repeat; height: 100%;">

	<div class="container col-md-7 mt-5">
		<div class="card">
			<form method="POST">
				{% csrf_token %}
				<div class="card-header bg-secondary text-center" style="font-family: Consolas">
					<h1>Register</h1>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="username">FirstName</label>
						<input type="text" name="fname" placeholder="Enter Firstname" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="username">LastName</label>
						<input type="text" name="lname" placeholder="Enter Lastname" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="username">UserName</label>
						<input type="text" name="username" placeholder="Enter username" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="rollno">Roll Number</label>
						<input type="text" name="rollno" placeholder="Enter Roll Number" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="username">Email-id</label>
						<input type="email" name="email" placeholder="Enter mail-id" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="Password" name="password" placeholder="Enter Password" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password</label>
						<input type="Password" name="confirmpassword" placeholder="Re-enter Password" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="number">Mobile number</label>
						<input type="number" name="mobile" placeholder="Enter Mobile number" class="form-control" required>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-secondary">Register</button>
				</div>
			</form>
		</div>
	</div>


</body>
</html