h1{
	color:blue;
	text-align: center;
	background-color: #C70039;
}
body{
	background-color: green;
}

.st{
	text-align:center;
	background-color:#FFC300; 
}
.st1{
	color:orange;

}
.tab{
	color: yellow;
}