<!DOCTYPE html>
<html>
<head>
	<title>add student</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'addstudent' %}">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'details' %}">Details</a>
  </li>
  </ul>
</nav>

<div class="container card col-md-6 mt-3 shadow-lg border-sucess">
	<h2>Register</h2>
  <form method="POST">
    {% csrf_token %}
  <input type="text" name="fname" placeholder="enter first name" class="form-control mt-2">
  <input type="text" name="lname" placeholder="enter last name" class="form-control mt-2">
  <input type="text" name="uname" placeholder="enter user name" class="form-control mt-2">
  <input type="text" name="rnum" placeholder="enter rollno" class="form-control mt-2">
  <input type="text" name="email" placeholder="enter email" class="form-control mt-2">
  <input type="text" name="mobile" placeholder="enter mobile number" class="form-control mt-2">
  <div>
    <label for="gender">gender:</label>
    <label class="radio inline">
      <input type="radio" name="gender" value="Female">Female
    </label>
    <label class="radio inline">
      <input type="radio" name="gender" value="Male">Male
    </label>
    <label class="radio inline">
      <input type="radio" name="gender" value="Others">Others
    </label>
  </div>
  <input type="number" name="age" placeholder="enter your age" class="form-control mt-2">
  <div class="card-footer">
      <button class="btn btn-dark">Register</button>
  </div>
  </form>	
</div>
</body>
</html>