<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>
  
</nav>
<div class="container card col=md=6 shadow-lg border-sucess">
	<h2 class="text-center">update</h2>
	<form method="POST">
		{% csrf_token %}
		<input type="text" name="fname" placeholder="enter firstname" class="form-control mt-2" value="{{ data.fname }}">
		<input type="text" name="lname" placeholder="enter lastname" class="form-control mt-2" value="{{ data.lname }}">
		<input type="text" value="{{ data.uname }}" name="uname" placeholder="enter user name" class="form-control mt-2">
		<input type="text" value="{{ data.rnum }}" name="rnum" placeholder="enter roll number" class="form-control mt-2">
		<input type="text" name="email" placeholder="enter email" class="form-control mt-2" value="{{ data.email }}">
		<input type="number" name="mobile" placeholder="enter mobile number" class="form-control mt-2" value="{{ data.mobile }}">
		<div>
			<label for=gender>gender:</label>
			<label class="radio-inline">
				<input type="radio" name="gender" value="female">female
			</label>
			<label class="radio-inline">
				<input type="radio" name="gender" value="male">male
			</label>
			label class="radio-inline">
				<input type="radio" name="gender" value="others">others
			</label>
		</div>
		<input type="number" name="age" placeholder="enter your age" class="form-control mt-2" value="{{ data.age }}">
		<div class="card=footer text-center">
			<!-- <button class="btn btn-success"><a href="{% url 'details' %}">update</a></button> -->
			<input type="submit" class="bg-success mt-2" name="Update">
			<button class="btn btn-danger"><a href="{% url 'details' %}">cancel</button></a>
		</div>
	</form>
</div>
</body>
</html>